*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

#IDE and dot files
.project
.classpath
.settings
.DS_Store

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/vStrikerAPI/1.tree
.metadata/.plugins/org.eclipse.core.resources/.projects/vStrikerBizModel/1.tree
.metadata/.plugins/org.eclipse.core.resources/.projects/vStrikerEntities/1.tree
.metadata/.plugins/org.eclipse.core.resources/.projects/vStrikerLogger/1.tree
.metadata/.plugins/org.eclipse.core.resources/.projects/vStrikerTestEngine/1.tree
.metadata/.plugins/org.eclipse.core.resources/.projects/vStrikerTestUtilities/1.tree
.metadata/.plugins/org.eclipse.core.resources/.projects/vStrikerUI/1.tree
.metadata/.plugins/org.eclipse.core.resources/.projects/vStrikerUnitTest/2.tree
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/26.tree
.metadata/.plugins/org.eclipse.core.resources/.root/27.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.datatools.connectivity/ServerProfiles.bak
.metadata/.plugins/org.eclipse.datatools.connectivity/ServerProfiles.dat
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/1026275606.index
.metadata/.plugins/org.eclipse.jdt.core/10800765.index
.metadata/.plugins/org.eclipse.jdt.core/1088148447.index
.metadata/.plugins/org.eclipse.jdt.core/1115467115.index
.metadata/.plugins/org.eclipse.jdt.core/1297497388.index
.metadata/.plugins/org.eclipse.jdt.core/1349710426.index
.metadata/.plugins/org.eclipse.jdt.core/1356621575.index
.metadata/.plugins/org.eclipse.jdt.core/1364988005.index
.metadata/.plugins/org.eclipse.jdt.core/1386229435.index
.metadata/.plugins/org.eclipse.jdt.core/1411789620.index
.metadata/.plugins/org.eclipse.jdt.core/1473096282.index
.metadata/.plugins/org.eclipse.jdt.core/1498219845.index
.metadata/.plugins/org.eclipse.jdt.core/1504196432.index
.metadata/.plugins/org.eclipse.jdt.core/1508646761.index
.metadata/.plugins/org.eclipse.jdt.core/151841218.index
.metadata/.plugins/org.eclipse.jdt.core/1566633013.index
.metadata/.plugins/org.eclipse.jdt.core/163172794.index
.metadata/.plugins/org.eclipse.jdt.core/1663230551.index
.metadata/.plugins/org.eclipse.jdt.core/1697886153.index
.metadata/.plugins/org.eclipse.jdt.core/1831884095.index
.metadata/.plugins/org.eclipse.jdt.core/1861919456.index
.metadata/.plugins/org.eclipse.jdt.core/1893439535.index
.metadata/.plugins/org.eclipse.jdt.core/1919632448.index
.metadata/.plugins/org.eclipse.jdt.core/1995173708.index
.metadata/.plugins/org.eclipse.jdt.core/206892801.index
.metadata/.plugins/org.eclipse.jdt.core/2092241296.index
.metadata/.plugins/org.eclipse.jdt.core/2150821712.index
.metadata/.plugins/org.eclipse.jdt.core/2194385127.index
.metadata/.plugins/org.eclipse.jdt.core/2230389752.index
.metadata/.plugins/org.eclipse.jdt.core/224336909.index
.metadata/.plugins/org.eclipse.jdt.core/2294843999.index
.metadata/.plugins/org.eclipse.jdt.core/2362003805.index
.metadata/.plugins/org.eclipse.jdt.core/2389464325.index
.metadata/.plugins/org.eclipse.jdt.core/2470894712.index
.metadata/.plugins/org.eclipse.jdt.core/248691940.index
.metadata/.plugins/org.eclipse.jdt.core/2509102739.index
.metadata/.plugins/org.eclipse.jdt.core/2540438707.index
.metadata/.plugins/org.eclipse.jdt.core/2585358458.index
.metadata/.plugins/org.eclipse.jdt.core/2598641975.index
.metadata/.plugins/org.eclipse.jdt.core/2669242916.index
.metadata/.plugins/org.eclipse.jdt.core/2733968750.index
.metadata/.plugins/org.eclipse.jdt.core/2741287076.index
.metadata/.plugins/org.eclipse.jdt.core/2788989714.index
.metadata/.plugins/org.eclipse.jdt.core/2820594671.index
.metadata/.plugins/org.eclipse.jdt.core/2867239293.index
.metadata/.plugins/org.eclipse.jdt.core/2902348348.index
.metadata/.plugins/org.eclipse.jdt.core/2951048991.index
.metadata/.plugins/org.eclipse.jdt.core/2961060483.index
.metadata/.plugins/org.eclipse.jdt.core/297990110.index
.metadata/.plugins/org.eclipse.jdt.core/305854171.index
.metadata/.plugins/org.eclipse.jdt.core/3065916431.index
.metadata/.plugins/org.eclipse.jdt.core/3069273578.index
.metadata/.plugins/org.eclipse.jdt.core/30765161.index
.metadata/.plugins/org.eclipse.jdt.core/3090467587.index
.metadata/.plugins/org.eclipse.jdt.core/3121162791.index
.metadata/.plugins/org.eclipse.jdt.core/3121184159.index
.metadata/.plugins/org.eclipse.jdt.core/3127738746.index
.metadata/.plugins/org.eclipse.jdt.core/3133528496.index
.metadata/.plugins/org.eclipse.jdt.core/3190709587.index
.metadata/.plugins/org.eclipse.jdt.core/3219290985.index
.metadata/.plugins/org.eclipse.jdt.core/3234259780.index
.metadata/.plugins/org.eclipse.jdt.core/3253495474.index
.metadata/.plugins/org.eclipse.jdt.core/3373995387.index
.metadata/.plugins/org.eclipse.jdt.core/3378861673.index
.metadata/.plugins/org.eclipse.jdt.core/3390984184.index
.metadata/.plugins/org.eclipse.jdt.core/3461812507.index
.metadata/.plugins/org.eclipse.jdt.core/3484778010.index
.metadata/.plugins/org.eclipse.jdt.core/349027072.index
.metadata/.plugins/org.eclipse.jdt.core/3530048717.index
.metadata/.plugins/org.eclipse.jdt.core/3613854052.index
.metadata/.plugins/org.eclipse.jdt.core/3665259285.index
.metadata/.plugins/org.eclipse.jdt.core/3720824697.index
.metadata/.plugins/org.eclipse.jdt.core/3751360559.index
.metadata/.plugins/org.eclipse.jdt.core/3756832552.index
.metadata/.plugins/org.eclipse.jdt.core/3876860933.index
.metadata/.plugins/org.eclipse.jdt.core/3898014660.index
.metadata/.plugins/org.eclipse.jdt.core/3948021339.index
.metadata/.plugins/org.eclipse.jdt.core/3948773514.index
.metadata/.plugins/org.eclipse.jdt.core/3974580528.index
.metadata/.plugins/org.eclipse.jdt.core/4097849023.index
.metadata/.plugins/org.eclipse.jdt.core/4099984610.index
.metadata/.plugins/org.eclipse.jdt.core/4141189687.index
.metadata/.plugins/org.eclipse.jdt.core/4155206848.index
.metadata/.plugins/org.eclipse.jdt.core/4196689420.index
.metadata/.plugins/org.eclipse.jdt.core/457078347.index
.metadata/.plugins/org.eclipse.jdt.core/463420714.index
.metadata/.plugins/org.eclipse.jdt.core/695646116.index
.metadata/.plugins/org.eclipse.jdt.core/730299265.index
.metadata/.plugins/org.eclipse.jdt.core/774558276.index
.metadata/.plugins/org.eclipse.jdt.core/91772092.index
.metadata/.plugins/org.eclipse.jdt.core/935221427.index
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
.metadata/version.ini
